
.one{position: absolute;
width: 100%;
height: 113px;
left: 0;
top: 0;
background: #A60000;
}

.text1{position: absolute;
width: 100%;
height: 113px;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 113px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;}

.two{position: absolute;
width: 100%;
height: 113px;
left: 0;
top: 113px;
background: #000000;}

.three{position: absolute;
width: 100%;
height: 113px;
left: 0;
top: 113px;
background: #000000;}

.mushroom{position: absolute;
width: 79px;
height: 90px;
left: 850px;
top: 23px;
}
.options{position: absolute;
left: 65px;
top: 430px;}

.name{
    position: absolute;
    left: 65px;
    top: 280px
}

.house{
    position: absolute;
    left: 65px;
    top: 330px
}

.add{
    position: absolute;
    left: 65px;
    top: 1000px;
}

.luigi{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: 1250px;
}

.jump{
    position: absolute;
    left: 65px;
    top: 900px;
    width: 100px;
    height: 100px
}

.price{
    position: absolute;
    left: 65px;
    top: 1220px;
}

.total{
    position: absolute;
    left: 65px;
    top: 1320px;
}


.calories{
    position: absolute;
    left: 65px;
    top: 1270px;
}

.form-group{
    position: absolute;
    left: 65px;
    top: 1145px;
}

.luigi_face{position: absolute;
right: 200px;
top: 400px;
height: 130px;
width: 130px;}

.the_pizza{position: absolute;
right: 0;
top: 160px;
height: 250px;
width: 567px;}