<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Pizza</title>
        <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">
<link rel="stylesheet" href="../static/options.css">


</head>

<body>
<div class="one"><a class="text1">
<img src="../static/image/mario_PNG75.png" alt="mario mushroom" class="mushroom">
Luigi and Mario's Pizzeria</a></div>

<!-- NavBar -->

<div class="two">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Luigi and Mario's</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Pizza</a>
          <a class="dropdown-item" href="#">Wings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mushrooms</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

<!-- Pizzas -->

<form action="" method="get" id="additions">
<div class="options">
<div class="form-check">
  <input class="form-check-input" type="radio" onclick="changePizzaInfo('1000','10.99','../static/image/Sicilian.jpg')" name="pizzatype" id="pizzatype1" value="sicilian" checked>
  <label class="form-check-label" for="pizzatype1">
      Sicilian
  </label>
</div>
<br>
<div class="form-check">
  <input class="form-check-input" type="radio" onclick="changePizzaInfo('2000','11.99','../static/image/Marine.jpg')" name="pizzatype" id="pizzatype2" value="marine">
  <label class="form-check-label" for="pizzatype2">
      Marine
  </label>
</div>
<br>
<div class="form-check">
  <input class="form-check-input" type="radio" onclick="changePizzaInfo('5000','12.99','../static/image/Napoliten.jpg')" name="pizzatype" id="pizzatype3" value="napoliten">
  <label class="form-check-label" for="pizzatype3">
      Napoliten
  </label>
</div>
<br>
<div class="form-check">
  <input class="form-check-input" type="radio" onclick="changePizzaInfo('3000','11.99','../static/image/Mixed.jpg')" name="pizzatype" id="pizzatype4" value="mixed">
  <label class="form-check-label" for="pizzatype4">
      Mixed
  </label>
</div>
</div>
</form>

<!-- Inputs -->

    <label class="name">
        <input class="form-control" type="text" placeholder="Name and Surname">
    </label>

    <label class="house">
        <input class="form-control" type="text" placeholder="Address">
    </label>

<!-- Toppings -->

<div class="add">
<div class="form-check">
  <input class="form-check-input" onchange="addFlavour(this, '1')" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
   Green Pepper
  </label>
</div>
<br>

    <div class="form-check">
  <input class="form-check-input" onchange="addFlavour(this, '1')" type="checkbox" value="" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2">
   Tomato
  </label>
</div>
<br>

    <div class="form-check">
  <input class="form-check-input" onchange="addFlavour(this, '1')" type="checkbox" value="" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
   Pickle
  </label>
</div>
<br>

    <div class="form-check">
  <input class="form-check-input" onchange="addFlavour(this, '1')" type="checkbox" value="" id="defaultCheck4">
  <label class="form-check-label" for="defaultCheck4">
   Mushroom
  </label>
</div>
<br>

    <div class="form-check">
  <input class="form-check-input" onchange="addFlavour(this, '1')" type="checkbox" value="" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5">
   Olive
  </label>
</div>
<br>

</div>

<h3 class="quantity_text">Quantity</h3>
<div class="form-group">
<label for="quantity" class="col-2 col-form-label"></label>
<div class="col-15">
    <input class="form-control" type="number" onchange="calculateTotal()" min="1" value="1" id="quantity">
</div>
</div>

<h3 class="price_text">Unit Price</h3>
<label class="price">
<input class="form-control" type="text" readonly placeholder="Unit Price" value="10.99" id="unitprice">
</label>

<h3 class="calorie_text">Calories</h3>
<label class="calories">
    <input class="form-control" type="text" readonly placeholder="Calories" id="calorie">
</label>

<h3 class="total_text">Total</h3>
<label class="total">
    <input class="form-control" type="text" readonly placeholder="Total" id="total" value="10.99">
</label>

<a class="btn btn-primary" id = "button" href="http://127.0.0.1:5000/check" role="button">Submit</a>

<!-- Images -->

<img src="../static/image/Luigi0.png" alt="mr.L" class="luigi">

<img src="../static/image/giphy.gif" alt="mario jumping" class="jump">

<img src="../static/image/Sicilian.jpg" alt="cover" id="pizzaimage"  class="cover">

<img src="../static/image/marioadd.jpg" alt="marioad" class="mario_ad">

<img src="../static/image/switch.png" alt="switch ad" class="switch_ad">

<img src="../static/image/mansion.jpg" alt="luigi's mansion ad" class="mansion">

<img src="../static/image/sword.jpg" alt="smash add" class="smash">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

    function addFlavour(checkbox ,flavourPrice) {
        var price = document.getElementById("unitprice").value;

        price = checkbox.checked ? parseFloat(price) + parseFloat(flavourPrice) : parseFloat(price) - parseFloat(flavourPrice);

        document.getElementById("unitprice").value = price;
        calculateTotal();
    }

    function calculateTotal() {
       var price = document.getElementById("unitprice").value;
       var quantity = document.getElementById("quantity").value;
       var total = price * quantity;

       document.getElementById("total").value = total;
    }
    
    function changePizzaInfo(calorie ,price , image) {
        document.getElementById("pizzaimage").src = image;
        document.getElementById("unitprice").value = price;
        calculateTotal()
        document.getElementById("calorie").value = calorie;
    }
</script>
</body>
</html>